@import 'partials/variables';
@import 'partials/themes';

@import 'partials/base';
@import 'partials/navigation';
@import 'partials/footer';

@import 'partials/page-card';
@import 'partials/detail-card';

@import 'partials/overview';
