---
layout: layouts/base
layoutType: overview
---

<section class="page-intro">
    {{ content }}
</section>

{% for collection in eleventyImport.collections %}
    
    <section class="page-section page-section--{{ collection }}">
        <h2 class="page-section__header">{{ sectionHeadings[forloop.index0] }}</h2>
        <ul class="detail-card-list detail-card-list--{{ collection }}">
            {% for item in collections[collection] %}
                {% include 'partials/detail-card' %}
            {% endfor %}
        </ul>
    </section>

{% endfor %}