<section class="page-section page-intro">
  <slot />
</section>

<style>
  .page-intro {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    p {
      max-width: 72ch;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0;
      padding-inline-start: 16px;
    }
  }
</style>
