.resource-footer {
    background: var(--muted-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 64px;
}

.resource-footer__inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-4x);
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
}

.resource-footer__header {
    color: var(--white);
}

.footer-resources {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-resource {
    list-style: none;
}

.footer-resource__link {
    align-items: center;
    color: var(--white);
    display: flex;
    font-size: 18px;
    gap: 8px;
}

.footer-resource__icon {
    fill: var(--white);
    height: 18px;
    width: 18px;
}

.footer {
    background: var(--footer-background);
    color: var(--footer-text-color);
    display: flex;
    justify-content: center;
    padding: var(--space-4x);
}

.footer__inner {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-4x);
    justify-content: space-between;

    @media (min-width: 600px) {
        flex-direction: row;
        max-width: 1400px;
        width: 100%;
    }
}

.footer__copyright {
    margin: 0;
}

.social-links {
    display: flex;
    gap: var(--space-2x);
}

.social-link {
    align-items: center;
    background: var(--social-link-background);
    display: flex;
    padding: var(--space-3x);
    transition: background var(--transition-default);

    &:hover,
    &:focus-visible {
        background: var(--social-link-background--hover);
    }
}

.social-link__icon {
    fill: var(--social-link-text-color);
    height: 24px;
    transition: fill var(--transition-default);
    width: 24px;

    .social-link:hover &,
    .social-link:focus-visible & {
        fill: var(--social-link-text-color--hover);
    }
}