.page-cards {
    align-items: normal;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;

    @media (min-width: 475px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.page-card {
    display: flex;
}

.page-card__link {
    align-items: center;
    background: #F0F9FF;
    border: 1px solid #003D6B;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    text-decoration: none;
    width: 100%;
}

.page-card__image-area {
    align-items: center;
    aspect-ratio: 1.85/1;
    display: flex;
    justify-content: center;
    width: 100%;

    svg {
        fill: var(--heading-color);
        height: 50%;
        width: 50%;
    }
}

.page-card__title {
    border-inline-start: 2px solid var(--heading-color);
    color: var(--heading-color);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    padding-inline-start: 8px;
    padding-block: 4px;
    position: relative;
    transition: color .3s ease;
    z-index: 0;

    .page-card__link:hover & {
        color: var(--white);
    }
}

.page-card__title::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.page-card__title::before {
    background: var(--heading-color);
    content: " ";
    display: block;
    inset: 0 0 0 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: transform .3s ease;
    z-index: -1;

    .page-card__link:hover & {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}