:root {
    --white: #ffffff;
    --navy: #003D6B;
    --slate: #575757;
    --dark-slate: #3D3D3D;
    --muted-blue: #3C555D;

    --font-size: 18px;
    --font-weight: normal;
    --font-family: 'Open Sans', sans-serif;

    --transition-default: .25s ease-in-out;
    --transition-slow: .25s ease-in-out;

    --space-base: 4px;
    --space-1x: calc(var(--space-base) * 1);
    --space-2x: calc(var(--space-base) * 2);
    --space-3x: calc(var(--space-base) * 3);
    --space-4x: calc(var(--space-base) * 4);
    --space-5x: calc(var(--space-base) * 5);
    --space-6x: calc(var(--space-base) * 6);
    --space-7x: calc(var(--space-base) * 7);
    --space-8x: calc(var(--space-base) * 8);

    --background: var(--white);
    --accent: var(--navy);
    --heading-color: var(--dark-slate);
    --text-color: var(--slate);

    --page-header-background-color: var(--accent);
    --page-header-text-color: var(--white);

    --footer-background: var(--white);
    --footer-text-color: var(--slate);
    
    --social-link-background: transparent;
    --social-link-background--hover: var(--slate);
    --social-link-text-color: var(--slate);
    --social-link-text-color--hover: var(--white);

    // --mobile-menu-background: transparent;
    // --mobile-menu-background--hover: var(--slate);
    // --mobile-menu-text-color: var(--slate);
    // --mobile-menu-text-color--hover: var(--white);
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: var(--dark-blue);
//         --accent: var(--light-blue);
//         --text-color: var(--off-white);
//         --hairline-color: var(--off-white);

//         --intro-block-background: var(--off-white);
//         --intro-block-text-color: var(--slate);

//         --footer-background: var(--slate);
//         --footer-text-color: var(--white);

//         --social-link-background: transparent;
//         --social-link-background--hover: var(--white);
//         --social-link-text-color: var(--white);
//         --social-link-text-color--hover: var(--slate);

//         --mobile-menu-background: transparent;
//         --mobile-menu-background--hover: var(--off-white);
//         --mobile-menu-text-color: var(--off-white);
//         --mobile-menu-text-color--hover: var(--slate);
//     }
// }