<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Adam Sedwick</title>

    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 

    <!-- Prism Syntax Highlighting -->
    <link rel="stylesheet" href="{{ '/css/prism-xonokai.css' | url }}">
</head>