---
interface Props {
  headline: string;
  description: string;
}

const { headline, description } = Astro.props;
---

<section class="hero">
  <div class="circle"></div>
  <div class="hero__content">
    <h1 class="hero__headline">{headline}</h1>
    <p class="hero__description">{description}</p>
  </div>
  <div class="circle"></div>
</section>

<style>
  .hero {
    align-content: center;
    justify-content: center;
    padding-block: clamp(16px, 8vw, 150px);
    padding-inline: 16px;
    position: relative;
    @media (min-width: 768px) {
      padding-inline: 32px;
    }
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    max-width: 1400px;

    width: 100%;
  }
  .hero__headline {
  }
  .hero__description {
    font-size: var(--font-size-lg);
  }
  .circle {
    background-color: var(--accent-color);
    border-radius: 100px;
    filter: blur(200px);
    height: 200px;
    opacity: 0.7;
    position: absolute;
    width: 200px;
    z-index: -1;

    &:first-of-type {
      left: 0;
      top: 0;
    }

    &:last-of-type {
      bottom: 0;
      right: 0;
    }
  }
</style>
